name: Build and Push Frontend & Backend to OCI Image Registry

on:
  release:
    types: [created]
  push:
    branches:
      - main
    paths:
      - "frontend/Dockerfile"
      - "backend/Dockerfile"
  pull_request:
    branches:
      - main
    paths:
      - "frontend/Dockerfile"
      - "backend/Dockerfile"

jobs:
  push-frontend:
    name: Frontend

    uses: ./.github/workflows/build.yaml
    with:
      rootdir: frontend
      image-name: ngelive
    secrets: inherit

  push-backend:
    name: Backend

    uses: ./.github/workflows/build.yaml
    with:
      rootdir: backend
      image-name: ngelive-api
    secrets: inherit
